@model Order
@{
    ViewData["Title"] = "Update";
}

<div class="row">
    <div class="col-lg-12">
        <h1>Order Detail</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card" style="width: 100%;">
            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Price</th>
                            <th>Discount Price</th>
                            <th>Ordered Count</th>
                            <th>Stocke Count</th>
                            <th>Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderItems)
                        {
                            <tr>
                                <td>@item.Product.Title</td>
                                <td>@item.Product.Price</td>
                                <td>@item.Product.DiscountPrice</td>
                                <td>@item.Count</td>
                                <td>@item.Product.Count</td>
                                <td>@(item.Count * (item.Product.DiscountPrice > 0 ? item.Product.DiscountPrice : item.Product.Price))</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        
    </div>
    <div class="row">
        <div class="col-lg-12">
            <form  method="post">
                <div class="form-group">
                    <label for="OrderStatus"></label>
                    <select class="form-control" id="orderStatus" name="OrderStatus">
                        <option value="">Choose...</option>
                        @foreach (var item in Enum.GetValues(typeof(OrderStatus)))
                        {
                            if (Model.Status == (OrderStatus)item)
                            {
                                <option selected value="@((int)item)">@item</option>
                            }
                            else
                            {
                                <option value="@((int)item)">@item</option>
                            }
                        }
                    </select>
                </div>
                <button type="submit">Update</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <a class="btn btn-primary" asp-action="Index">Go To List</a>
        </div>
    </div>
</div>