@model Product
@{ ViewData["Title"] = "Detail"; }

<div class="row">
    <div class="col-lg-12">
        <h1>Product Delete</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/assets/images/product/@Model.MainImage" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <h5 class="card-title">@Model.Price</h5>
                <h5 class="card-title">@Model.DiscountPrice</h5>

                <h5 class="card-title">@Model.Category.Name</h5>

                <th scope="row">@string.Join(',', Model.ProductSizes.Select(p => p.Size.Name))</th>
            </div>
        </div>
        <div class="col-lg-6">
            <a class="btn btn-primary" asp-action="Index" asp-route-status="@ViewBag.Status" asp-route-page="@ViewBag.PageIndex">Go To List</a>
        </div>
    </div>
</div>